body {
    font-size: 18px;
}

.navbar {
    background-color: #FFDAB9; 
    border-color: #FFDAB9;
}

.navbar>a {
    color: black;
}

.btn-primary {
    background-color: #FFDAB9;
    border-color: #FFDAB9;
}

h4 {
    font-size: 24px;
}
