body {
    font-family: Arial, sans-serif;

}

.navbar {
    background-color: #ffe4b5; /* Color piel */
    border: 1px solid #ffe4b5; /* Borde del mismo color */
}


input, button {
    background-color: #ffe4b5; 
    border: 1px solid #ffe4b5;
}



.container {
    margin-top: 60px;
    display: flex;
}

.left-div {
    width: 70%; 
}

.right-div {
    width: 30%; 
    margin-top: 76px;
    margin-left: 50px;
}
.form-control {
    max-width: 50%; /* Ajusta el ancho según tus necesidades */

}

#imageContainer {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#selectedImage{
    max-width: 480px;
    
}