{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>APP</title>
{% endblock %}
{% block body %}

        <div class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('index') }}" class="navbar-brand">
                        <img src="{{ url_for('static', filename='logo.png')}}" 
                            style = "max-width: 48px" 
                            alt="APP logo">
                    </a>
                </div>
        
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a href="https://github.com/lalovaltierra/MIA.git" target="_blank">Proyecto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% block content %}
        <div class="container align-items-center">
                <div class="left-div align-items-center">
                    <form id="imageForm" enctype="multipart/form-data">
                        <div class="container input-group">
                            <input type="file" class="form-control" id="imageInput" name="image" accept="image/*" onchange="mostrarImagen(this)">
                            <button class="btn btn-outline-secondary" type="button" onclick="processImage()">Clasificar</button>
                        </div>
                    </form>
                    <div id="imageContainer" class="text-center" style="display: none;" >
                        <img id="selectedImage" class="rounded" src="" alt="Imagen seleccionada">
                    </div>
                </div>
                <div class="right-div">
                    <p>Resultado</p>
                    <p id="pixelCountResult"></p>
                </div>
        </div>
        
    {% endblock %}
    {% block scripts %}
        {{ super() }}
        <script>
            function processImage() {
                var form = document.getElementById('imageForm');
                var formData = new FormData(form);
            
                fetch('/clasificar', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    // Mostrar la imagen en el contenedor
                    document.getElementById('imageContainer').style.display = 'block';
                    //document.getElementById('selectedImage').src = data.image_path;
            
                    // Mostrar el resultado del conteo de píxeles
                    document.getElementById('pixelCountResult').innerText = 'Número de píxeles: ' + data.result;
                })
                .catch(error => console.error('Error:', error));
            }

            function mostrarImagen(input) {

                var reader = new FileReader();
                document.getElementById('pixelCountResult').innerText = ' ';    


                reader.onload = function (e) {
                    imagenURL = URL.createObjectURL(input.files[0]);  // Almacenar la URL de la imagen
                    document.getElementById('imageContainer').style.display = 'block';
                    document.getElementById('selectedImage').src = imagenURL;
                }
                reader.readAsDataURL(input.files[0]);

            }
        </script>
    {% endblock %}
{% endblock %}
